<!-- templates/order_email.html -->
<html>
  <body style="font-family: Arial; padding: 20px;">
    <h2 style="color: #4CAF50;">{{ subject_title }}</h2>
    <p>{{ message_intro }}</p>

    {% if name %}
      <h3>Product Details:</h3>
      <p><b>Name:</b> {{ name }}</p>
      <p><b>Description:</b> {{ description }}</p>
      <p><b>Price:</b> Ksh {{ price }}</p>
      <p><b>Quantity:</b> {{ quantity }}</p>

      {% if image_url %}
        <img src="{{ product.image_url }}"
       onerror="this.onerror=null;this.src='{{ product.imgur_url }}';" 
       alt="{{ product.name }}" class="product-image" width="150" style="margin-top: 10px;">
      {% endif %}
      <br><br>
    {% endif %}

    <p><b>Mobile:</b> {{ mobile }}</p>

    <br><br>
    <p style="font-size: 14px; color: gray;">Regards,<br>Flask App Bot</p>
  </body>
</html>