<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order Confirmation</title>
  <style>
    body { background: #121212; color: white; font-family: Arial, sans-serif;font-size: 35px; text-align: center; padding: 20px; }
    button {
            width: 20%;
            padding: 12px;
            background-color: #28a745;
            border: none;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            font-size: 17px;
   }
  </style>
</head>
<body>
  <h1>Order Confirmed!</h1>
  <p>Thank you for your purchase.</p>
  <li>Your Order is being processed...</li>
  <button onclick="window.location.href='/products'">Continue Shopping</button>
</body>
</html>